.rack-container {
  position: relative;
  padding: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  width: 800px;
  height: 125px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: linear-gradient(bottom, rgb(189,189,189) 0%, rgb(230,225,230) 54%);
  background-image: -o-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(230,225,230) 54%);
  background-image: -moz-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(230,225,230) 54%);
  background-image: -webkit-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(230,225,230) 54%);
  background-image: -ms-linear-gradient(bottom, rgb(189,189,189) 0%, rgb(230,225,230) 54%);
  border: 1px solid #ddd;
}

.rack-container .rack-logo {
  background: no-repeat url('./webaudiocomponents-logo.png');
  width: 100px;
  height: 100px;
}

.rack-text {
  text-transform: lowercase;
  position: absolute;
  left: 15px;
  top: 105px;
}

.rack-container .rack-name {
  float: left;
  margin-top: 10px;
  font-size: 30px;
}

.rack-container .rack-logo-text {
  float: left;
  margin-top: 24px;
  margin-left: 5px;
  color: #999;
}

.rack-container .rack-params {
  list-style-type: none;
  position: absolute;
  right: 0px;
  top: 10px;
}

.rack-container .rack-param {
  float: right;
  width: 100px;
  height: 100px;
  text-align: center;
}

.rack-container .rack-param .rack-param-name {
}

.rack-container .rack-param .rack-param-control {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
}

.rack-container .rack-param .rack-param-control .button-container {
  margin-left: 5px;
  margin-top: 15px;
}

.rack-container .rack-param .rack-param-value {
  font-weight: bold;
}
